<dialog>   <button autofocus>Close</button>   <p>This modal dialog has a groovy backdrop!</p> </dialog> <button>Show the dialog</button>

<style>
::backdrop {   background-image: linear-gradient(     45deg,     magenta,     rebeccapurple,     dodgerblue,     green   );   opacity: 0.75; }
</style>
<script>
const dialog = document.querySelector("dialog"); const showButton = document.querySelector("dialog + button"); const closeButton = document.querySelector("dialog button");  // "Show the dialog" button opens the dialog modally 
showButton.addEventListener("click", () => {   dialog.showModal(); });  // "Close" button closes the dialog 
closeButton.addEventListener("click", () => {   dialog.close(); }); 
</script>
