<dialog>
	<div class="prize" id="prize-dialog">
		<center>
			<p style="padding-top:6rem;">You've won <span id="winnings"></span> minutes</p>
		</center>
	</div>
	<form method="dialog" style="display: flex;justify-content: end;">
		<button>OK</button>
	</form>
</dialog>
<script>
	let win = Math.floor(Math.random() * 3)+1;
	const dialog = document.querySelector("#prize-dialog");
	const winnings = document.querySelector("#winnings");
	winnings.innerText = win;
</script>

<style>
dialog::backdrop {
	backdrop-filter: blur(20px);
}

.prize {
	height: 250px;
	width: 250px;
	margin: 0 auto;
	animation-name: stretch;
	animation-duration: 1.5s; 
	animation-fill-mode: none;
}
			  @keyframes stretch {
				  0% {
					  transform: scale(.3);
					  background-color: red;
					  border-radius: 100%;
				  }
				  50% {
					  background-color: orange;
				  }
				  100% {
					  transform: scale(1);
					  background-color: yellow;
				  }
			  }
			  body,
			  html {
				  height: 100%;
			  }
			  body {
				  display: flex;
				  align-items: center;
				  justify-content: center;
			  }
</style>
