/* Optional dark theme */
html.inverted,
html.inverted a {
	background-color: #000;
	color: #fff;
}
.section {
	height: 100vh;
}
.column {
	display: flex;
	flex-direction: column;
}
.row {
	display: flex;
	flex-direction: row;
}
.space-between {
	justify-content: space-between;
}
.space-around {
	justify-content: space-around;
}
.max-width {
	width: 90vw;
	max-width: 30rem;
}
.padding-top {
	padding-top: 1rem;
}
.top-bar {
	padding: 2rem;
	font-size: 1.5rem;
	font-weight: 900;
}
.border-top {
	border-top: solid 2px;
}
.hide {
	display: none;
}
a {
	font-size: 1.5rem;
	font-weight: 900;
	color: black;
}
.quiz {
	font-size: 2rem;
}
#question {
	text-decoration: underline;
}
#answer {
	cursor: pointer;
}
label:not(:first-of-type) {
	padding-top: 0.5rem;
}
input:last-of-type {
	margin-top: 0.5rem;
}
#clickToShowDiv {
	cursor: pointer;
}
